*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}

section{
    display:flex;
    background-color:lime;
    height: 500px;
}

.container{
    justify-content: flex-start;
}


.container2{
    justify-content:flex-end;
}

.container3{
    justify-content:center;
}

.container4{
    justify-content: space-between;
}

.container5{
    justify-content: space-around;
}

.container6{
    justify-content: space-evenly;
}

.item{
    border: medium solid grey;
    padding:5px;
    background-color:tomato;
    padding: 15px;
    margin: 0px 5px;
}
