*,
*::after,
*::before{
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-wrap:nowrap;
    background-color:lime;
    height: 30vh;
}

.container2{
    display:inline-flex;
    flex-wrap:wrap;
    background-color:lime;
    height: 30vh;
}

.container3{
    display:inline-flex;
    flex-wrap:wrap-reverse;
    background-color:lime;
    height: 30vh;
}

article{
    text-align:center;
}

.item{
    width: 25%;/*al darle un tamanio recien ocupa todo el contenero*/
    height:20%;/*al darle un tamanio recien ocupa todo el contenero*/
    border: medium solid grey;
    background-color:tomato;
}
